version: '3.8'

# Run this FIRST to get SSL certificates:
# docker-compose -f docker-compose.init-ssl.yml up

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx-init.conf:/etc/nginx/nginx.conf:ro
      - certbot-www:/var/www/certbot

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-www:/var/www/certbot
    command: certonly --webroot --webroot-path=/var/www/certbot --email admin@momotaro.xyz --agree-tos --no-eff-email -d solver.momotaro.xyz
    depends_on:
      - nginx

volumes:
  certbot-etc:
  certbot-var:
  certbot-www:
